.env.secret
**/*.DS_Store
**/*.egg
**/*.pytest_cache
**/*.swp
**/*.hypothesis
**/*.ipynb_checkpoints
**/*.egg-info
dist
__pycache__/
.ipynb_checkpoints/
**/*.pyc
.python-version
*.virtual_documents/
.eslintrc.js
node_modules/
Music
.pyenv
NVIDIA*
pre
gpu
nvim/node_modules
nvim/temp*
nvim/package*
nvim/test*
nvim/plugin*
# notes.md
# todo.md
temp
temp.*
temp/
cdk.out/
.mypy_cache/
.pytest_cache/
.git/
.coverage
.testmondata
