
[alias]
  diffs = diff --staged
  logg = log --pretty=fuller --abbrev-commit --stat -n 5
  loggg = log --pretty=fuller --abbrev-commit --stat --patch -n 5
  rmf = rm -f

[column]
  ui = auto

[commit]
  template = ~/dotfiles/git/.git_commit_template.txt
  verbose = true

[core]
  editor = nvim
  excludesfile = ~/dotfiles/dotfiles/.gitignore
  pager = bat

[diff]
  algorithm = histogram
  colormoved = zebra
  colormovedws = allow-indentation-change
  context = 10
  mnemonicPrefix = true
  renames = true

[fetch]
  prune = true
  pruneTags = true
  all = true

[init]
  defaultBranch = main

[merge]
  conflictstyle = diff3
  ff = true
  tool = nvimdiff

[mergetool "nvimdiff"]
  cmd = nvim -d $LOCAL $REMOTE

[pull]
  rebase = false
  ff = true
  default = simple
  autoSetupRemote = true

[push]
  default = simple
  autoSetupRemote = true
  followTags = true

[url "git@github.com:"]
	insteadOf = "https://github.com/"

[user]
  email = adam.green@adgefficiency.com
  name = Adam Green

[rerere]
  enabled = true

