**/*.DS_Store
**/*.egg
**/*.egg-info
**/*.hypothesis
**/*.ipynb_checkpoints
**/*.pyc
**/*.pytest_cache
**/*.swp
**/__pycache__
*.virtual_documents
.coverage
.env.secret
.eslintrc.js
.git
.ipynb_checkpoints
.ipython/profile_default/*.sqlite
.mypy_cache
.pyenv
.pyenv
.pytest_cache
.python-version
.testmondata
.venv
Music
NVIDIA*
__pycache__
cdk.out
dist
gpu
node_modules/
nvim/node_modules
nvim/package*
nvim/plugin*
nvim/temp*
nvim/test*
pre
temp
temp.*
temp
