snippet lang
	lang:shell-session:

snippet ---
	---
	tags:
	- $1
	---

snippet tags
	---
	tags:
	- $1
	---

snippet python
	\`\`\`python
	$1
	\`\`\`

snippet shell-session
	\`\`\`shell-session
	$1
	\`\`\`

snippet `
	\`\`\`$1
	\`\`\`
