snippet #!
	#!/usr/bin/env python3

snippet pandas
	import pandas as pd

snippet numpy
	import numpy as np

snippet matplotlib
	import matplotlib.pyplot as plt
	fig, axes = plt.subplots()

snippet pydantic
	import pydantic

	class $0(pydantic.BaseModel):

snippet mkdir
	.mkdir(exist_ok=True, parents=True)
