alias wd='cd ~/git/research/env-model'

#  bash
alias ll='ls -a'
alias lt='ls -aGltr'
alias ls='ls -aGl'

alias c='clear'
alias cls='clear && ls'
alias ctree='clear && tree'

alias exut='exit'
alias eixt='exit'
alias exot='exit'
alias ext='exit'
alias eit='exit'
alias q='exit'

alias tree='tree -I '*pycache*''

#  vim and python
alias v='vim'
alias vi='vim'
alias py='python'


alias dl_you='python ~/git/personal/bash/download_youtube.py'

#  dotfiles
alias aliases='vim ~/git/dotfiles/.aliases'
alias bashrc='vim ~/git/dotfiles/.bashrc'
alias bashprofile='vim ~/git/dotfiles/.bash_profile'
alias vimrc='vim ~/git/dotfiles/.vimrc'
alias tmuxc='vim ~/git/dotfiles/.tmux.conf'
alias zshrc='vim ~/git/dotfiles/.zshrc'

#  aws cli
alias awsc='aws cloudformation'
alias awscb='aws cloudformation describe-stacks --stack-name'
alias awscd='aws cloudformation delete-stack --stack-name'

#  git
alias gs='git status'
alias ga='git add -u'
alias gc='git commit -m '
alias gp='git push origin '
alias gls='clear && git status'
alias notes='git add -u && git add * && git commit -m "notes" && git push origin master'

#  tmux
alias tn='tmux new'
alias tl='tmux ls'

#  misc
alias cheat='vim ~/git/personal/lists/cheat_sheet.md'
alias ipython='ipython --TerminalInteractiveShell.editing_mode=vi'
alias quotes='vim ~/git/personal/lists/quotes.md'

#  projects
alias home='cd ~/git'
alias mono='cd ~/git/mono'
alias dsr='cd ~/git/mono/dsr'
alias adg='cd ~/git/adg-website/'
alias adg2='cd ~/git/adg-website-v2/website'
alias website='cd ~/website'
alias agile='cd ~/git/Agile_Data_Code_2/ch04'
alias dotfiles='cd ~/git/dotfiles'
alias ep='cd ~/git/energy-py/energypy'
alias epl='cd ~/git/energy-py-linear'
alias org='cd ~/git/org'
alias nemweb='cd ~/git/nemweb'
alias res='cd ~/git/research'
alias rl-book='cd ~/git/personal/projects/rl-book'
alias rl-course='cd ~/git/new-rl-course-dev'
alias wm='cd ~/git/mono/world-models'

#  personal
alias drafts='cd ~/git/personal/projects/drafts'
alias per='cd ~/git/personal'
alias principles='cd ~/git/personal/projects/principles'
alias projects='cd ~/git/personal/projects'

