export TODO=$HOME/git/personal/todo.md
export VIMRC=$HOME/git/dotfiles/.vimrc
export CHEAT=$HOME/git/personal/lists/cheat_sheet.md
export PER=$HOME/git/personal/
export GDR=$HOME/GoogleDrive

alias wd='cd ~/git/climate-newspaper-downloader'
alias cookie='cd /Users/adam/git/cookie-template/\{\{\ cookiecutter.repo_name\ \}\}/'
alias similar='cd /Users/adam/git/similar-day-forecasting-vae'
alias ideas='vi /Users/adam/git/climate-code/notes/content/ideas/readme.md'

alias search='vim $(fzf)'
alias s='vim $(fzf)'
alias v='vim'

# be polite!
alias please='sudo'

# files
alias todo='vim $HOME/git/personal/todo.md'

# folders
alias blog='cd $HOME/git/adgefficiency.github.io/'
alias back='cd -'
alias cc='cd $HOME/git/climate-code'
alias web='cd $HOME/git/climate-code/website'
alias website='cd $HOME/git/climate-code/website'
alias gdr='cd ~/GoogleDrive'
alias gdr2='cd ~/GoogleDriveadgefficiency'
alias h='cd ~/git'
alias ep='cd ~/git/energy-py'
alias ep2='cd ~/git/energy-py-two'
alias g='grep -irl '
alias p='cd $HOME/git/personal'
alias pb='cd $HOME/git/pb'
alias new-pb='cd $HOME/git/new-pb/Bonso'
alias per='cd ~/git/personal'
alias nlpd='cd ~/git/climate-nlp'
alias nlph='cd ~/git/climate-nlp-dev'
alias prog='cd ~/git/programming-resources'
alias teach='cd ~/git/teaching-monolith'
alias syl='cd ~/git/mkdocs-material/syllabus'

# programs
alias b='cd ..'
alias c='clear'
alias cls='clear && ls'
alias ctree='clear && tree'
alias less='bat'
alias l='"ls" -aGF'
alias ll='"ls" -aGF'
alias ipy='ipython'
alias python='python3'
alias pip='pip3'
alias jl='jupyter lab > /dev/null 2>&1 &'
alias ls='ls -aGFlopnk'
alias py='python'
alias rm='rm -rf'
alias mkdir='mkdir -p'
alias df='df -h'
alias tree="tree -I '*pycache*'"

alias je='bundle exec jekyll serve > /dev/null 2>&1 &'
alias jed='bundle exec jekyll serve --drafts > /dev/null 2>&1 &'

# OS specific
if [[ "$OSTYPE" == "darwin"* ]]; then
  alias vi='mvim -v'
  alias vim='mvim -v'
else
  alias vi='vim -v'
  alias vim='vim -v'
fi

# spelling
alias exut='exit'
alias eixt='exit'
alias exot='exit'
alias ext='exit'
alias eit='exit'
alias q='exit'
alias zi='vi'
alias wi='vi'

# dotfiles
alias aliases='vim ~/git/dotfiles/.aliases'
alias bashrc='vim ~/git/dotfiles/.bashrc'
alias bashprofile='vim ~/git/dotfiles/.bash_profile'
alias dotfiles='cd ~/git/dotfiles'
alias vrc='vim ~/git/dotfiles/.vimrc'
alias vimrc='vim ~/git/dotfiles/.vimrc'
alias tmuxc='vim ~/git/dotfiles/.tmux.conf'
alias zshrc='vim ~/git/dotfiles/.zshrc'
alias zs='source ~/.zshrc'

alias ec2='vim ~/git/mono/adg-aws/ec2.sh'

#  git
alias gs='git status'
alias ga='git add '
alias gc='git commit -m '
alias gca='git commit --amend'
alias gp='git push origin '
alias gls='clear && git status --short'
alias gall='git add * && git add -u && git commit -m "sync all the things" && git push origin master'

#  tmux
alias t='tmux new'
alias tn='tmux new'
alias tl='tmux ls'

#  misc
alias cheat='vim ~/git/personal/lists/cheat_sheet.md'
alias ipython='ipython --TerminalInteractiveShell.editing_mode=vi'
alias quotes='vim ~/git/personal/lists/quotes.md'

#  grip
alias grip='source ~/git/personal/github-pass.sh; grip --user $guser --pass $gpass'

alias resize='sips -z '
alias im='exiv2 '
alias home='cd ~/git/climate-code'

alias vff="$FZF_DEFAULT_COMMAND | fzf"
alias vv='vim $(vff)'

alias cp='cp -r '

alias sshp='ssh adamg33@ssh.pythonanywhere.com'
