.ipython/profile_default/*.sqlite

**/*.DS_Store
**/*.egg
**/*.pytest_cache
**/*.swp
**/*.hypothesis
**/*.ipynb_checkpoints
**/*.egg-info
dist
**/__pycache__
**/*.pyc
.python-version
*.virtual_documents/
.eslintrc.js
node_modules/
Music
.pyenv
NVIDIA*

nvim/node_modules
nvim/temp*
nvim/package*
nvim/test*

.venv
.mypy_cache
